
.logoContainer {
  width: 110px;
  height: auto;
  display: flex;
}

.logo {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 1rem;
  filter: invert(0);
}

.navigationBar {
  padding: 3rem 1rem 1rem 1rem;
  position: relative;
  display: block;
  position: fixed;
  right: -70%;
  top: 0;
  height: 100dvh;
  width: 70%;
  gap: 1.5rem;
  background-color: #ffa900;
  transition: all 0.5s var(--easing-animation);
  z-index: 1000;
}

.navigationBar.openMenu {
  right: 0;
}


.item {
  padding: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  list-style-type: none;
  margin: 0.2rem 0;
  z-index: 100;
  font-family: var(--font-mono);
  color: black;
}

.berger {
  z-index: 1001;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffa900;
  transition: all 0.5s ease-in-out;
  border-radius:5px;
}

.berger.open {
  position: fixed;
}



.line {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 3px;
  background: white;
  border-radius: 3px;
  position: absolute;
  transition: all 0.6s var(--easing-animation);
}

.line.a {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-220deg);
}

.line.a.off {
  top: 35%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.line.b {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(220deg);
}

.line.b.off {
  top: 65%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.line.c {
  opacity: 0;
  left: 60%;
}

.line.c.off {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.item:hover {
  color: white;
}

.navigationBarContainer {
  display: block;
  width: fit-content;
  height: 100%;
}

.item.addColor {
  color: black;
  margin: 0;
}

.item.addColor:hover {
  color: rgb(255, 255, 255);
}

@media screen and (min-width: 700px) {
  .actionContainer {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 100;
    width: 100%;
    max-width: 1280px;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: auto;
    background: #ffaa0000;
    transition: all 0.5s var(--easing-animation);
    box-shadow: 0 0 0 100vmax #ffaa0000;
    clip-path: inset(0 -100vmax);
  }

  .item {
    color: white;
  }

  .item:hover {
    color: #ffaa00;
  }

  .actionContainer.addBackground {
    background: #ffaa00;
    box-shadow: 0 0 0 100vmax #ffaa00;
    clip-path: inset(0 -100vmax);
    height: 60px;
  }

  .berger {
    display: none;
  }

  .logo {
    display: flex;
    width: auto;
    height: 100%;
    transition: all 0.5s var(--easing-animation);
  }

  .logo.addColor {
    filter: invert(1);
  }

  .logoContainer {
    width: 130px;
    height: auto;
    display: flex;
  }

  .navigationBar {
    padding: 1rem;
    display: flex;
    position: unset;
    justify-content: center;
    height: 100%;
    width: fit-content;
    gap: 1.5rem;
    border-radius: 10px;
    background: rgba(28, 28, 28, 0);
  }
}
